[Unit]
Description=AMDGPU fan
After=multi-user.target

[Service]
ExecStart=/usr/bin/amdgpufan
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
